deployer/src/main/resources/META-INF/jboss-xnio_1_0.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="urn:jboss:xnio:1.0"
        targetNamespace="urn:jboss:xnio:1.0"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        version="1.0"
        >

    <xs:complexType name="xnio">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:choice>
                    <xs:element name="one-way-pipe" type="one-way-pipe"/>
                    <xs:element name="pipe" type="pipe"/>
                    <xs:element name="pipe-server" type="pipe-server"/>
                    <xs:element name="pipe-source-server" type="pipe-server"/>
                    <xs:element name="pipe-sink-server" type="pipe-server"/>
                    <xs:element name="tcp-connector" type="tcp-connector"/>
                    <xs:element name="tcp-server" type="tcp-server"/>
                    <xs:element name="tcp-client" type="tcp-client"/>
                    <xs:element name="tcp-connection" type="tcp-connection"/>
                    <xs:element name="udp-server" type="udp-server"/>
                    <xs:element name="local-stream-connector" type="local-stream-connector"/>
                    <xs:element name="local-stream-server" type="local-stream-server"/>
                    <xs:element name="local-datagram-connector" type="local-datagram-connector"/>
                    <xs:element name="local-datagram-server" type="local-datagram-server"/>
                    <!--<xs:element name="serial-port" type="serial-port-connection"/>-->
                    <!--<xs:element name="parallel-port" type="parallel-port-connection"/>-->
                </xs:choice>
            </xs:sequence>
        </xs:sequence>
        <xs:attribute name="provider" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="configurable">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="option" type="option"/>
        </xs:sequence>
        <xs:attribute name="backlog" use="optional" type="xs:integer"/>
        <xs:attribute name="broadcast" use="optional" type="xs:boolean"/>
        <xs:attribute name="close-abort" use="optional" type="xs:boolean"/>
        <xs:attribute name="ip-traffic-class" use="optional" type="xs:int"/>
        <xs:attribute name="ip-tos" use="optional" type="xs:int"/>
        <xs:attribute name="keep-alive" use="optional" type="xs:boolean"/>
        <xs:attribute name="manage-connections" use="optional" type="xs:boolean"/>
        <xs:attribute name="multicast-ttl" use="optional" type="xs:int"/>
        <xs:attribute name="oob-inline" use="optional" type="xs:boolean"/>
        <xs:attribute name="receive-buffer-size" use="optional" type="xs:int"/>
        <xs:attribute name="reuse-address" use="optional" type="xs:boolean"/>
        <xs:attribute name="send-buffer-size" use="optional" type="xs:int"/>
        <xs:attribute name="tcp-no-delay" use="optional" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="option">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[An option defined in a Java class.  If no class name is given, org.jboss.xnio.channels.CommonOptions is asssumed.]]>
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="class" type="xs:string" use="optional"/>
        <xs:attribute name="field" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="pipe-server">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="executor-bean" type="bean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="handler-factory-bean" type="bean" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="tcp-server">
        <xs:complexContent>
            <xs:extension base="configurable">
                <xs:sequence minOccurs="1" maxOccurs="1">
                    <xs:element name="executor-bean" type="bean" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="handler-factory-bean" type="bean" minOccurs="1" maxOccurs="1"/>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="bind-address" type="inet-socket-address"/>
                    </xs:sequence>
                </xs:sequence>
                <xs:attribute name="name" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="tcp-connector">
        <xs:complexContent>
            <xs:extension base="configurable">
                <xs:sequence minOccurs="1" maxOccurs="1">
                    <xs:element name="executor-bean" type="bean" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="connect-timeout" use="optional" type="xs:int"/>
                <xs:attribute name="name" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="tcp-client">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element name="tcp-connector" minOccurs="1" maxOccurs="1" type="tcp-connector"/>
                <xs:element name="tcp-connector-bean" minOccurs="1" maxOccurs="1" type="bean"/>
            </xs:choice>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element name="destination" type="destination"/>
            </xs:sequence>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="tcp-connection">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="executor-bean" minOccurs="0" maxOccurs="1" type="bean"/>
            <xs:element name="handler-bean" minOccurs="1" maxOccurs="1" type="bean"/>
            <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element name="tcp-client" minOccurs="1" maxOccurs="1" type="tcp-client"/>
                <xs:element name="tcp-client-bean" minOccurs="1" maxOccurs="1" type="bean"/>
            </xs:choice>
            <xs:element name="scheduled-executor-bean" minOccurs="0" maxOccurs="1" type="bean"/>
        </xs:sequence>
        <xs:attribute name="reconnect-interval" type="xs:int"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="local-stream-connector">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="executor-bean" minOccurs="0" maxOccurs="1" type="bean"/>
            <xs:element name="handler-bean" minOccurs="1" maxOccurs="1" type="bean"/>
        </xs:sequence>
        <xs:attribute name="send-buffer-size" use="optional" type="xs:int"/>
        <xs:attribute name="receive-buffer-size" use="optional" type="xs:int"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="local-stream-server">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="executor-bean" minOccurs="0" maxOccurs="1" type="bean"/>
            <xs:element name="handler-bean" minOccurs="1" maxOccurs="1" type="bean"/>
        </xs:sequence>
        <xs:attribute name="send-buffer-size" use="optional" type="xs:int"/>
        <xs:attribute name="receive-buffer-size" use="optional" type="xs:int"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="local-datagram-connector">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="executor-bean" minOccurs="0" maxOccurs="1" type="bean"/>
            <xs:element name="handler-bean" minOccurs="1" maxOccurs="1" type="bean"/>
        </xs:sequence>
        <xs:attribute name="send-buffer-size" use="optional" type="xs:int"/>
        <xs:attribute name="receive-buffer-size" use="optional" type="xs:int"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="local-datagram-server">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="executor-bean" minOccurs="0" maxOccurs="1" type="bean"/>
            <xs:element name="handler-bean" minOccurs="1" maxOccurs="1" type="bean"/>
        </xs:sequence>
        <xs:attribute name="send-buffer-size" use="optional" type="xs:int"/>
        <xs:attribute name="receive-buffer-size" use="optional" type="xs:int"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="udp-server">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="executor-bean" minOccurs="0" maxOccurs="1" type="bean"/>
            <xs:element name="handler-factory-bean" type="bean" minOccurs="1" maxOccurs="1"/>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="bind-address" type="inet-socket-address"/>
            </xs:sequence>
        </xs:sequence>
        <xs:attribute name="receive-buffer-size" use="optional" type="xs:int"/>
        <xs:attribute name="reuse-address" use="optional" type="xs:boolean"/>
        <xs:attribute name="send-buffer-size" use="optional" type="xs:int"/>
        <xs:attribute name="traffic-class" use="optional" type="xs:int"/>
        <xs:attribute name="broadcast" use="optional" type="xs:boolean"/>
        <xs:attribute name="multicast" use="optional" type="xs:boolean"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="pipe">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="executor-bean" minOccurs="0" maxOccurs="1" type="bean"/>
            <xs:element name="left-end" minOccurs="1" maxOccurs="1" type="pipe-end"/>
            <xs:element name="right-end" minOccurs="1" maxOccurs="1" type="pipe-end"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="one-way-pipe">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="executor-bean" minOccurs="0" maxOccurs="1" type="bean"/>
            <xs:element name="source-end" minOccurs="1" maxOccurs="1" type="pipe-end"/>
            <xs:element name="sink-end" minOccurs="1" maxOccurs="1" type="pipe-end"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="pipe-end">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="executor-bean" minOccurs="0" maxOccurs="1" type="bean"/>
            <xs:element name="handler-bean" minOccurs="1" maxOccurs="1" type="bean"/>
        </xs:sequence>
    </xs:complexType>
    <!--
    <xs:complexType name="serial-port-connection">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="executor-bean" minOccurs="0" maxOccurs="1" type="bean"/>
            <xs:element name="handler-bean" minOccurs="1" maxOccurs="1" type="bean"/>
        </xs:sequence>
        <xs:attribute name="port-name" type="xs:string" use="required"/>
        <xs:attribute name="speed" type="baud-rate" use="optional"/>
        <xs:attribute name="data-bits" type="data-bits" use="optional"/>
        <xs:attribute name="stop-bits" type="xs:float" use="optional"/>
        <xs:attribute name="parity" type="parity" use="optional"/>
        <xs:attribute name="flow-control" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="parallel-port-connection">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="executor-bean" minOccurs="0" maxOccurs="1" type="bean"/>
            <xs:element name="handler-bean" minOccurs="1" maxOccurs="1" type="bean"/>
        </xs:sequence>
        <xs:attribute name="port-name" type="xs:string" use="required"/>
        <xs:attribute name="mode" type="parallel-port-mode" use="optional"/>
    </xs:complexType>
    -->
    <xs:complexType name="bean">
        <xs:attribute name="name" use="required"/>
    </xs:complexType>

    <xs:complexType name="inet-socket-address">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Specify a INET ("internet" or TCP/UDP over IPv4/IPv6) socket address.  If no address is given, the wildcard address (0.0.0.0) is used.  If no port is given, one is chosen at random.]]>
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="address" type="xs:string" use="optional"/>
        <xs:attribute name="port" type="port" use="optional"/>
    </xs:complexType>

    <xs:complexType name="local-socket-address">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Specify a local IPC (a.k.a. UNIX domain) socket address.  If no path is given, one is randomly created.]]>
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="path" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="destination">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="bind-address" type="inet-socket-address" minOccurs="0" maxOccurs="1"/>
            <xs:element name="connect-address" type="inet-socket-address" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="port">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="65535"/>
        </xs:restriction>
    </xs:simpleType>
    <!--
    <xs:simpleType name="parity">
        <xs:restriction base="xs:string">
            <xs:enumeration value="none"/>
            <xs:enumeration value="even"/>
            <xs:enumeration value="odd"/>
            <xs:enumeration value="mark"/>
            <xs:enumeration value="space"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="flow-control">
        <xs:restriction base="xs:string">
            <xs:enumeration value="none"/>
            <xs:enumeration value="rtscts"/>
            <xs:enumeration value="xonxoff"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="data-bits">
        <xs:restriction base="xs:int">
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="stop-bits">
        <xs:restriction base="xs:float">
            <xs:enumeration value="1"/>
            <xs:enumeration value="1.5"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="baud-rate">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="parallel-port-mode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="any"/>
            <xs:enumeration value="ecp"/>
            <xs:enumeration value="epp"/>
            <xs:enumeration value="nibble"/>
            <xs:enumeration value="ps2"/>
            <xs:enumeration value="spp"/>
        </xs:restriction>
    </xs:simpleType>
    -->
    <xs:element name="xnio" type="xnio"/>
</xs:schema>
